@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0;
} */


@media screen and (max-width: 640px) {
  .hero-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-image-container {
    width: 100vw;
  }
  
  .hero-description-container {
    width: 100vw;
  }
  .hero-image{
    max-width: 100%;
    max-height: 200px;
  }
}

@media screen and (min-width: 640px) {
  .hero-content {
    flex-direction: row;
  }
  .hero-image-container {
    width: 33%;
  }
  .hero-description-container {
    width: 67%;
  }
  .hero-image {
    max-width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .block-container {
    flex-direction: column;
  }
}


@media screen and (min-width: 640px) {
  .block-container {
    max-height: 96rem;
  }
  
  .block-image-container {
    max-width: 60%;
  }
}
